  .hamburger {
    display: none;
    vertical-align: bottom;
  }

  .hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  // @media only screen and (max-width: 900px) {
  //   .hamburger {
  //     display: inline-block;
  //     position: relative;
  //     z-index: 25;
  //     vertical-align: inherit;
      
  //   }
  // }

  @media only screen and (max-width: 700px) {
    .hamburger {
      display: inline-block;
      position: relative;
      z-index: 25;
      vertical-align: inherit;
      .line {
        width: 35px;
        height: 4px;
        background-color: #ecf0f1;
        display: block;
        margin: 6px auto;
        margin-right: 6px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
    #hamburger-1.is-active .line:nth-child(2){
      opacity: 0;
    }
    
    #hamburger-1.is-active .line:nth-child(1){
      transform: translateY(10px) rotate(45deg);
    }
    
    #hamburger-1.is-active .line:nth-child(3){
      transform: translateY(-10px) rotate(-45deg);
    }
    
  }